{{ define "main"}}
	<h1>{{ .Title }}</h1>
	{{ .Content }}

	{{ range.Data.Pages }}
	<article>
		<h3 class="small-pushdown">
			<a href="{{ .RelPermalink }}">{{ .Title }}</a>
		</h3>

		<p class="small-pushdown">
			<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
				{{ .Date.Format "January 2, 2006" }}
			</time>
		</p>

		<p class="small-pushdown">
			<a class="align-end" href="{{ .RelPermalink }}">Read More &rarr;</a>
		</p>
	</article>
	{{ end }}
{{ end }}
