/*
	===== Basic HTML Styling =====
*/


/* --- Variables and Mixins --- */
$content-width: 80ch;
$animation-duration: 0.25s;

$unit-1: 2rem;
$unit-2: 1.4rem;
$unit-3: 0.8rem;

@mixin block($padded: false) {
	margin-top: $unit-1;
	margin-bottom: $unit-1;

	@if $padded {
		padding-left: $unit-3 * 2;
		padding-right: $unit-3 * 2;
	}
}


/* --- Typography --- */
body {
	font-size: initial;
	font-family: system-ui, sans-serif;
	line-height: 1.5;

	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1.6em;
	font-weight: normal;
}
h1 { font-size: 2.6rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.0rem; }

article > p {
	text-align: justify;
}

a {
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: text-decoration-color $animation-duration linear;

	&:hover {
		text-decoration-color: inherit;
	}
}

/* --- Figures and Tables --- */
figure {
	@include block(true);
	img {
		display: block;
		margin: auto;
	}
}

table {
	@include block();
	width: 100%;
	max-width: 100%;

	border-collapse: collapse;
	border-spacing: 0;

	caption-side: bottom;

	&.scrollable {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}
}

td {
	text-align: start;
	padding: $unit-3 / 2 $unit-3;

	border-bottom: 1px solid;
}

th {
	@extend td;
	font-weight: bold;
	border-bottom: 2px solid;
}

caption, figcaption {
	font-style: italic;
	text-align: center;
}

/* --- Lists --- */
ul, ol, dl {
	@include block(true);

	& ul, ol {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
	}
}

li {
	margin: $unit-3 / 2;
}

/* --- Blockquotes --- */
blockquote {
	@include block(true);
	padding-top: $unit-3 / 2;
	padding-bottom: $unit-3 / 2;

	border-left: 2px solid;

	& > :first-child {
		margin-top: 0;
	}
	& > :last-child {
		margin-bottom: 0
	}
}

/* --- Forms --- */
form {
	@include block();
}

/* --- Code --- */
code {
	font-size: 0.9rem;
	padding: 0.2ch 0.5ch;
	border-radius: 0.5ch;
}
.chroma {
	padding: 1ch 2ch;
}

/* --- Fixes --- */
img {
	max-width: 100%;
	max-height: 25rem;
}

hr {
	@include block();
	width: 80%;
	margin-left: auto;
	margin-right: auto;

	border: none;
	border-top: 1px solid;
}


/* --- Includes --- */
@import "layout.scss";
@import "colors.scss";
